<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/ASSETS/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/ASSETS/style.css">
    <link rel="stylesheet" href="/ASSETS/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Angola News</title>
</head>

<body>
    <nav>
        <a href="index.html">
            home
            </span> Home</a>
        <a href="angola.html">Angola</a>
        <a href="mundo.html">Mundo</a>
        <a href="politica.html">Política</a>
        <a href="desporto.html">Desporto</a>
        <a href="cultura.html">Cultura</a>
        <a href="quemsomos.html">Quem somos</a>
    </nav>

    <main>

    </main>
    <footer>

    </footer>
</body>

</html>
