<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../ASSETS/style.css">
    <title>Angola News</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                Logo
            </div>
            <ul class="menu-area">
                <li><a href="index.html">Home</a></li>
                <li><a href="angola.html">Angola</a></li>
                <li><a href="mundo.html">Mundo</a></li>
                <li><a href="politica.html">Política</a></li>
                <li><a href="desporto.html">Desporto</a></li>
                <li><a href="cultura.html">Cultura</a></li>
                <li><a href="quemsomos.html">Quem somos</a></li>

            </ul>
        </nav>
    </header>

    <main>

    </main>
    <footer>

    </footer>
</body>

</html>