body{
    
    padding: 0%;
    margin: 0%;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    background-color:#6495ED;
}
/** INDEX **/

nav{
    background-color:#088F8F;
   font-size: 18px;
   text-decoration: none;


}
nav a{
  color: white;
  text-decoration: none; 
  position: relative;
  font-weight: 10;
  margin: 4px;
  float: left;
 }

 nav a:hover{
     background-color: #088F8F;
     
}
nav a:active{
    background-color:#00A36C;
}